.about {
    background-color: white;
}

.about h3 {
    color: orangered;
}

.about .box {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    width: 450px;

    margin-left: auto;
    margin-right: auto;
}